{
  "openapi": "3.1.0",
  "info": {
    "title": "Coolify",
    "version": "0.1"
  },
  "servers": [
    {
      "url": "https://app.coolify.io/api/v1",
      "description": "Coolify Cloud API. Change the host to your own instance if you are self-hosting."
    }
  ],
  "paths": {
    "/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List",
        "description": "List projects.",
        "operationId": "list-projects",
        "responses": {
          "200": {
            "description": "Get all projects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create",
        "description": "Create Project.",
        "operationId": "create-project",
        "requestBody": {
          "description": "Project created.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the project."
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the project."
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "example": "og888os",
                      "description": "The UUID of the project."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/projects/{uuid}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get",
        "description": "Get project by UUID.",
        "operationId": "get-project-by-uuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "Project UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "description": "Project not found."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/projects/{uuid}/environments": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List Environments",
        "description": "List all environments in a project.",
        "operationId": "get-environments",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "Project UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of environments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Environment"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "description": "Project not found."
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create Environment",
        "description": "Create environment in project.",
        "operationId": "create-environment",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "Project UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Environment created.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the environment."
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Environment created.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "example": "env123",
                      "description": "The UUID of the environment."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "Project not found."
          },
          "409": {
            "description": "Environment with this name already exists."
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/applications/private-github-app": {
      "post": {
        "tags": [
          "Applications"
        ],
        "summary": "Create (Private - GH App)",
        "description": "Create new application based on a private repository through a Github App.",
        "operationId": "create-private-github-app-application",
        "requestBody": {
          "description": "Application object that needs to be created.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "project_uuid",
                  "server_uuid",
                  "environment_name",
                  "environment_uuid",
                  "github_app_uuid",
                  "git_repository",
                  "git_branch",
                  "build_pack"
                ],
                "properties": {
                  "project_uuid": {
                    "type": "string",
                    "description": "The project UUID."
                  },
                  "server_uuid": {
                    "type": "string",
                    "description": "The server UUID."
                  },
                  "environment_name": {
                    "type": "string",
                    "description": "The environment name. You need to provide at least one of environment_name or environment_uuid."
                  },
                  "environment_uuid": {
                    "type": "string",
                    "description": "The environment UUID. You need to provide at least one of environment_name or environment_uuid."
                  },
                  "github_app_uuid": {
                    "type": "string",
                    "description": "The Github App UUID."
                  },
                  "git_repository": {
                    "type": "string",
                    "description": "The git repository URL."
                  },
                  "git_branch": {
                    "type": "string",
                    "description": "The git branch."
                  },
                  "ports_exposes": {
                    "type": "string",
                    "description": "The ports to expose."
                  },
                  "destination_uuid": {
                    "type": "string",
                    "description": "The destination UUID."
                  },
                  "build_pack": {
                    "type": "string",
                    "enum": [
                      "nixpacks",
                      "railpack",
                      "static",
                      "dockerfile",
                      "dockercompose"
                    ],
                    "description": "The build pack type."
                  },
                  "name": {
                    "type": "string",
                    "description": "The application name."
                  },
                  "description": {
                    "type": "string",
                    "description": "The application description."
                  },
                  "domains": {
                    "type": "string",
                    "description": "The application URLs in a comma-separated list."
                  },
                  "noindex_domains": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The subset of the application domains served with an X-Robots-Tag: noindex, nofollow response header, keeping them out of search engines. Entries that are not among the application domains are ignored."
                  },
                  "git_commit_sha": {
                    "type": "string",
                    "description": "The git commit SHA."
                  },
                  "docker_registry_image_name": {
                    "type": "string",
                    "description": "The docker registry image name."
                  },
                  "docker_registry_image_tag": {
                    "type": "string",
                    "description": "The docker registry image tag."
                  },
                  "is_static": {
                    "type": "boolean",
                    "description": "The flag to indicate if the application is static."
                  },
                  "is_spa": {
                    "type": "boolean",
                    "description": "The flag to indicate if the application is a single-page application (SPA). Only relevant when is_static is true."
                  },
                  "is_auto_deploy_enabled": {
                    "type": "boolean",
                    "description": "The flag to indicate if auto-deploy is enabled on git push. Defaults to true."
                  },
                  "is_force_https_enabled": {
                    "type": "boolean",
                    "description": "The flag to indicate if HTTPS is forced. Defaults to true."
                  },
                  "is_preview_deployments_enabled": {
                    "type": "boolean",
                    "description": "Enable preview deployments for pull requests."
                  },
                  "static_image": {
                    "type": "string",
                    "enum": [
                      "nginx:alpine"
                    ],
                    "description": "The static image."
                  },
                  "install_command": {
                    "type": "string",
                    "description": "The install command."
                  },
                  "build_command": {
                    "type": "string",
                    "description": "The build command."
                  },
                  "start_command": {
                    "type": "string",
                    "description": "The start command."
                  },
                  "ports_mappings": {
                    "type": "string",
                    "description": "The ports mappings."
                  },
                  "base_directory": {
                    "type": "string",
                    "description": "The base directory for all commands."
                  },
                  "publish_directory": {
                    "type": "string",
                    "description": "The publish directory."
                  },
                  "health_check_enabled": {
                    "type": "boolean",
                    "description": "Health check enabled."
                  },
                  "health_check_path": {
                    "type": "string",
                    "description": "Health check path."
                  },
                  "health_check_port": {
                    "type": "string",
                    "nullable": true,
                    "description": "Health check port."
                  },
                  "health_check_host": {
                    "type": "string",
                    "nullable": true,
                    "description": "Health check host."
                  },
                  "health_check_method": {
                    "type": "string",
                    "description": "Health check method."
                  },
                  "health_check_return_code": {
                    "type": "integer",
                    "description": "Health check return code."
                  },
                  "health_check_scheme": {
                    "type": "string",
                    "description": "Health check scheme."
                  },
                  "health_check_response_text": {
                    "type": "string",
                    "nullable": true,
                    "description": "Health check response text."
                  },
                  "health_check_interval": {
                    "type": "integer",
                    "description": "Health check interval in seconds."
                  },
                  "health_check_timeout": {
                    "type": "integer",
                    "description": "Health check timeout in seconds."
                  },
                  "health_check_retries": {
                    "type": "integer",
                    "description": "Health check retries count."
                  },
                  "health_check_start_period": {
                    "type": "integer",
                    "description": "Health check start period in seconds."
                  },
                  "limits_memory": {
                    "type": "string",
                    "description": "Memory limit."
                  },
                  "limits_memory_swap": {
                    "type": "string",
                    "description": "Memory swap limit."
                  },
                  "limits_memory_swappiness": {
                    "type": "integer",
                    "description": "Memory swappiness."
                  },
                  "limits_memory_reservation": {
                    "type": "string",
                    "description": "Memory reservation."
                  },
                  "limits_cpus": {
                    "type": "string",
                    "description": "CPU limit."
                  },
                  "limits_cpuset": {
                    "type": "string",
                    "nullable": true,
                    "description": "CPU set."
                  },
                  "limits_cpu_shares": {
                    "type": "integer",
                    "description": "CPU shares."
                  },
                  "custom_labels": {
                    "type": "string",
                    "description": "Custom labels."
                  },
                  "custom_docker_run_options": {
                    "type": "string",
                    "description": "Custom docker run options."
                  },
                  "post_deployment_command": {
                    "type": "string",
                    "description": "Post deployment command."
                  },
                  "post_deployment_command_container": {
                    "type": "string",
                    "description": "Post deployment command container."
                  },
                  "pre_deployment_command": {
                    "type": "string",
                    "description": "Pre deployment command."
                  },
                  "pre_deployment_command_container": {
                    "type": "string",
                    "description": "Pre deployment command container."
                  },
                  "manual_webhook_secret_github": {
                    "type": "string",
                    "description": "Manual webhook secret for Github."
                  },
                  "manual_webhook_secret_gitlab": {
                    "type": "string",
                    "description": "Manual webhook secret for Gitlab."
                  },
                  "manual_webhook_secret_bitbucket": {
                    "type": "string",
                    "description": "Manual webhook secret for Bitbucket."
                  },
                  "manual_webhook_secret_gitea": {
                    "type": "string",
                    "description": "Manual webhook secret for Gitea."
                  },
                  "redirect": {
                    "type": "string",
                    "nullable": true,
                    "description": "How to set redirect with Traefik / Caddy. www<->non-www.",
                    "enum": [
                      "www",
                      "non-www",
                      "both"
                    ]
                  },
                  "instant_deploy": {
                    "type": "boolean",
                    "description": "The flag to indicate if the application should be deployed instantly."
                  },
                  "dockerfile": {
                    "type": "string",
                    "description": "The Dockerfile content."
                  },
                  "dockerfile_location": {
                    "type": "string",
                    "description": "The Dockerfile location in the repository"
                  },
                  "docker_compose_location": {
                    "type": "string",
                    "description": "The Docker Compose location."
                  },
                  "docker_compose_custom_start_command": {
                    "type": "string",
                    "description": "The Docker Compose custom start command."
                  },
                  "docker_compose_custom_build_command": {
                    "type": "string",
                    "description": "The Docker Compose custom build command."
                  },
                  "docker_compose_domains": {
                    "type": "array",
                    "description": "Array of URLs to be applied to containers of a dockercompose application.",
                    "items": {
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The service name as defined in docker-compose."
                        },
                        "domain": {
                          "type": "string",
                          "description": "Comma-separated list of URLs (e.g. \"https://app.coolify.io,https://app2.coolify.io\")"
                        },
                        "redirect": {
                          "type": "string",
                          "nullable": true,
                          "description": "Per-service www/non-www redirect for this compose service.",
                          "enum": [
                            "www",
                            "non-www",
                            "both"
                          ]
                        }
                      },
                      "type": "object"
                    }
                  },
                  "watch_paths": {
                    "type": "string",
                    "description": "The watch paths."
                  },
                  "use_build_server": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "Use build server."
                  },
                  "use_build_secrets": {
                    "type": "boolean",
                    "default": false,
                    "description": "Use Docker Build Secrets for build-time environment variables."
                  },
                  "is_git_submodules_enabled": {
                    "type": "boolean",
                    "description": "Clone Git submodules."
                  },
                  "is_git_lfs_enabled": {
                    "type": "boolean",
                    "description": "Enable Git LFS."
                  },
                  "is_git_shallow_clone_enabled": {
                    "type": "boolean",
                    "description": "Use a shallow Git clone."
                  },
                  "disable_build_cache": {
                    "type": "boolean",
                    "description": "Disable the build cache."
                  },
                  "inject_build_args_to_dockerfile": {
                    "type": "boolean",
                    "description": "Inject build arguments into the Dockerfile build."
                  },
                  "include_source_commit_in_build": {
                    "type": "boolean",
                    "description": "Include the source commit in the build."
                  },
                  "is_env_sorting_enabled": {
                    "type": "boolean",
                    "description": "Sort environment variables."
                  },
                  "is_pr_deployments_public_enabled": {
                    "type": "boolean",
                    "description": "Make pull request deployments public."
                  },
                  "stop_grace_period": {
                    "type": "integer",
                    "nullable": true,
                    "minimum": 1,
                    "maximum": 3600,
                    "description": "Container stop grace period in seconds."
                  },
                  "docker_images_to_keep": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 100,
                    "description": "Number of Docker images to retain."
                  },
                  "is_gzip_enabled": {
                    "type": "boolean",
                    "description": "Enable gzip compression."
                  },
                  "is_stripprefix_enabled": {
                    "type": "boolean",
                    "description": "Enable path prefix stripping."
                  },
                  "is_raw_compose_deployment_enabled": {
                    "type": "boolean",
                    "description": "Deploy the raw Docker Compose definition."
                  },
                  "is_log_drain_enabled": {
                    "type": "boolean",
                    "description": "Enable log drain for the application."
                  },
                  "is_gpu_enabled": {
                    "type": "boolean",
                    "description": "Enable GPU support."
                  },
                  "gpu_driver": {
                    "type": "string",
                    "nullable": true,
                    "description": "GPU driver name."
                  },
                  "gpu_count": {
                    "type": "string",
                    "nullable": true,
                    "description": "Number of GPUs to allocate."
                  },
                  "gpu_device_ids": {
                    "type": "string",
                    "nullable": true,
                    "description": "Comma-separated GPU device IDs."
                  },
                  "gpu_options": {
                    "type": "string",
                    "nullable": true,
                    "description": "Additional GPU options."
                  },
                  "is_consistent_container_name_enabled": {
                    "type": "boolean",
                    "description": "Use a consistent container name across deployments."
                  },
                  "custom_internal_name": {
                    "type": "string",
                    "nullable": true,
                    "description": "Custom internal container name."
                  },
                  "preview_url_template": {
                    "type": "string",
                    "description": "Preview URL template."
                  },
                  "max_restart_count": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Maximum container restart count before stopping."
                  },
                  "is_http_basic_auth_enabled": {
                    "type": "boolean",
                    "description": "HTTP Basic Authentication enabled."
                  },
                  "http_basic_auth_username": {
                    "type": "string",
                    "nullable": true,
                    "description": "Username for HTTP Basic Authentication"
                  },
                  "http_basic_auth_password": {
                    "type": "string",
                    "nullable": true,
                    "description": "Password for HTTP Basic Authentication"
                  },
                  "connect_to_docker_network": {
                    "type": "boolean",
                    "description": "The flag to connect the service to the predefined Docker network."
                  },
                  "force_domain_override": {
                    "type": "boolean",
                    "description": "Force domain usage even if conflicts are detected. Default is false."
                  },
                  "autogenerate_domain": {
                    "type": "boolean",
                    "default": true,
                    "description": "If true and domains is empty, auto-generate a domain using the server's wildcard domain or sslip.io fallback. Default: true."
                  },
                  "is_container_label_escape_enabled": {
                    "type": "boolean",
                    "default": true,
                    "description": "Escape special characters in labels. By default, $ (and other chars) is escaped. So if you write $ in the labels, it will be saved as $$. If you want to use env variables inside the labels, turn this off."
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tags to assign to the application."
                  },
                  "is_preserve_repository_enabled": {
                    "type": "boolean",
                    "default": false,
                    "description": "Preserve repository during deployment."
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Application created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "uuid": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "409": {
            "description": "Domain conflicts detected.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Domain conflicts detected. Use force_domain_override=true to proceed."
                    },
                    "warning": {
                      "type": "string",
                      "example": "Using the same domain for multiple resources can cause routing conflicts and unpredictable behavior."
                    },
                    "conflicts": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "domain": {
                            "type": "string",
                            "example": "example.com"
                          },
                          "resource_name": {
                            "type": "string",
                            "example": "My Application"
                          },
                          "resource_uuid": {
                            "type": "string",
                            "nullable": true,
                            "example": "abc123-def456"
                          },
                          "resource_type": {
                            "type": "string",
                            "enum": [
                              "application",
                              "service",
                              "instance"
                            ],
                            "example": "application"
                          },
                          "message": {
                            "type": "string",
                            "example": "Domain example.com is already in use by application 'My Application'"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/applications/{uuid}/envs/bulk": {
      "patch": {
        "tags": [
          "Applications"
        ],
        "summary": "Update Envs (Bulk)",
        "description": "Update multiple envs by application UUID.",
        "operationId": "update-envs-by-application-uuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "UUID of the application.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Bulk envs updated.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "key": {
                          "type": "string",
                          "description": "The key of the environment variable."
                        },
                        "value": {
                          "type": "string",
                          "description": "The value of the environment variable."
                        },
                        "is_preview": {
                          "type": "boolean",
                          "description": "The flag to indicate if the environment variable is used in preview deployments."
                        },
                        "is_literal": {
                          "type": "boolean",
                          "description": "The flag to indicate if the environment variable is a literal, nothing espaced."
                        },
                        "is_multiline": {
                          "type": "boolean",
                          "description": "The flag to indicate if the environment variable is multiline."
                        },
                        "is_shown_once": {
                          "type": "boolean",
                          "description": "The flag to indicate if the environment variable's value is shown on the UI."
                        }
                      },
                      "type": "object"
                    }
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Environment variables updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EnvironmentVariable"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/deploy": {
      "post": {
        "tags": [
          "Deployments"
        ],
        "summary": "Deploy",
        "description": "Deploy by tag or UUID using query parameters or a JSON body.",
        "operationId": "deploy-by-tag-or-uuid",
        "parameters": [
          {
            "name": "tag",
            "in": "query",
            "description": "Tag name(s). Comma separated list is also accepted.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uuid",
            "in": "query",
            "description": "Resource UUID(s). Comma separated list is also accepted.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "force",
            "in": "query",
            "description": "Force rebuild (without cache)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "pr",
            "in": "query",
            "description": "Pull Request Id for deploying specific PR builds. Cannot be used with tag parameter.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pull_request_id",
            "in": "query",
            "description": "Preview deployment identifier. Alias of pr.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "docker_tag",
            "in": "query",
            "description": "Docker image tag for Docker Image preview deployments. Requires pull_request_id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get deployment(s) UUID's",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "deployments": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "message": {
                            "type": "string"
                          },
                          "resource_uuid": {
                            "type": "string"
                          },
                          "deployment_uuid": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/deployments/{uuid}": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "Get",
        "description": "Get deployment by UUID.",
        "operationId": "get-deployment-by-uuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "Deployment UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get deployment by UUID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationDeploymentQueue"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/databases/{uuid}/backups": {
      "post": {
        "tags": [
          "Databases"
        ],
        "summary": "Create Backup",
        "description": "Create a new scheduled backup configuration for a database",
        "operationId": "create-database-backup",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "UUID of the database.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Backup configuration data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "frequency"
                ],
                "properties": {
                  "frequency": {
                    "type": "string",
                    "description": "Backup frequency (cron expression or: every_minute, hourly, daily, weekly, monthly, yearly)"
                  },
                  "enabled": {
                    "type": "boolean",
                    "description": "Whether the backup is enabled",
                    "default": true
                  },
                  "save_s3": {
                    "type": "boolean",
                    "description": "Whether to save backups to S3",
                    "default": false
                  },
                  "s3_storage_uuid": {
                    "type": "string",
                    "description": "S3 storage UUID (required if save_s3 is true)"
                  },
                  "databases_to_backup": {
                    "type": "string",
                    "description": "Comma separated list of databases to backup"
                  },
                  "dump_all": {
                    "type": "boolean",
                    "description": "Whether to dump all databases",
                    "default": false
                  },
                  "backup_now": {
                    "type": "boolean",
                    "description": "Whether to trigger backup immediately after creation"
                  },
                  "database_backup_retention_amount_locally": {
                    "type": "integer",
                    "description": "Number of backups to retain locally"
                  },
                  "database_backup_retention_days_locally": {
                    "type": "integer",
                    "description": "Number of days to retain backups locally"
                  },
                  "database_backup_retention_max_storage_locally": {
                    "type": "number",
                    "description": "Max storage (GB) for local backups"
                  },
                  "database_backup_retention_amount_s3": {
                    "type": "integer",
                    "description": "Number of backups to retain in S3"
                  },
                  "database_backup_retention_days_s3": {
                    "type": "integer",
                    "description": "Number of days to retain backups in S3"
                  },
                  "database_backup_retention_max_storage_s3": {
                    "type": "number",
                    "description": "Max storage (GB) for S3 backups"
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "Backup job timeout in seconds (min: 60, max: 36000)",
                    "default": 3600
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Backup configuration created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "format": "uuid",
                      "example": "550e8400-e29b-41d4-a716-446655440000"
                    },
                    "message": {
                      "type": "string",
                      "example": "Backup configuration created successfully."
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "get": {
        "tags": [
          "Databases"
        ],
        "summary": "Get",
        "description": "Get backups details by database UUID.",
        "operationId": "get-database-backups-by-uuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "UUID of the database.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all backups for a database",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "example": "Content is very complex. Will be implemented later."
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/applications": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "List",
        "description": "List all applications.",
        "operationId": "list-applications",
        "parameters": [
          {
            "name": "tag",
            "in": "query",
            "description": "Filter applications by tag name.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all applications.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Application"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/databases/{uuid}": {
      "get": {
        "tags": [
          "Databases"
        ],
        "summary": "Get",
        "description": "Get database by UUID.",
        "operationId": "get-database-by-uuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "UUID of the database.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all databases",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "example": "Content is very complex. Will be implemented later."
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Databases"
        ],
        "summary": "Update",
        "description": "Update database by UUID.",
        "operationId": "update-database-by-uuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "UUID of the database.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Database data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the database"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the database"
                  },
                  "image": {
                    "type": "string",
                    "description": "Docker Image of the database"
                  },
                  "is_public": {
                    "type": "boolean",
                    "description": "Is the database public?"
                  },
                  "public_port": {
                    "type": "integer",
                    "description": "Public port of the database"
                  },
                  "public_port_timeout": {
                    "type": "integer",
                    "description": "Public port timeout in seconds (default: 3600)"
                  },
                  "limits_memory": {
                    "type": "string",
                    "description": "Memory limit of the database"
                  },
                  "limits_memory_swap": {
                    "type": "string",
                    "description": "Memory swap limit of the database"
                  },
                  "limits_memory_swappiness": {
                    "type": "integer",
                    "description": "Memory swappiness of the database"
                  },
                  "limits_memory_reservation": {
                    "type": "string",
                    "description": "Memory reservation of the database"
                  },
                  "limits_cpus": {
                    "type": "string",
                    "description": "CPU limit of the database"
                  },
                  "limits_cpuset": {
                    "type": "string",
                    "description": "CPU set of the database"
                  },
                  "limits_cpu_shares": {
                    "type": "integer",
                    "description": "CPU shares of the database"
                  },
                  "postgres_user": {
                    "type": "string",
                    "description": "PostgreSQL user"
                  },
                  "postgres_password": {
                    "type": "string",
                    "description": "PostgreSQL password"
                  },
                  "postgres_db": {
                    "type": "string",
                    "description": "PostgreSQL database"
                  },
                  "postgres_initdb_args": {
                    "type": "string",
                    "description": "PostgreSQL initdb args"
                  },
                  "postgres_host_auth_method": {
                    "type": "string",
                    "description": "PostgreSQL host auth method"
                  },
                  "postgres_conf": {
                    "type": "string",
                    "description": "PostgreSQL conf"
                  },
                  "clickhouse_admin_user": {
                    "type": "string",
                    "description": "Clickhouse admin user"
                  },
                  "clickhouse_admin_password": {
                    "type": "string",
                    "description": "Clickhouse admin password"
                  },
                  "dragonfly_password": {
                    "type": "string",
                    "description": "DragonFly password"
                  },
                  "redis_password": {
                    "type": "string",
                    "description": "Redis password"
                  },
                  "redis_conf": {
                    "type": "string",
                    "description": "Redis conf"
                  },
                  "keydb_password": {
                    "type": "string",
                    "description": "KeyDB password"
                  },
                  "keydb_conf": {
                    "type": "string",
                    "description": "KeyDB conf"
                  },
                  "mariadb_conf": {
                    "type": "string",
                    "description": "MariaDB conf"
                  },
                  "mariadb_root_password": {
                    "type": "string",
                    "description": "MariaDB root password"
                  },
                  "mariadb_user": {
                    "type": "string",
                    "description": "MariaDB user"
                  },
                  "mariadb_password": {
                    "type": "string",
                    "description": "MariaDB password"
                  },
                  "mariadb_database": {
                    "type": "string",
                    "description": "MariaDB database"
                  },
                  "mongo_conf": {
                    "type": "string",
                    "description": "Mongo conf"
                  },
                  "mongo_initdb_root_username": {
                    "type": "string",
                    "description": "Mongo initdb root username"
                  },
                  "mongo_initdb_root_password": {
                    "type": "string",
                    "description": "Mongo initdb root password"
                  },
                  "mongo_initdb_database": {
                    "type": "string",
                    "description": "Mongo initdb init database"
                  },
                  "mysql_root_password": {
                    "type": "string",
                    "description": "MySQL root password"
                  },
                  "mysql_password": {
                    "type": "string",
                    "description": "MySQL password"
                  },
                  "mysql_user": {
                    "type": "string",
                    "description": "MySQL user"
                  },
                  "mysql_database": {
                    "type": "string",
                    "description": "MySQL database"
                  },
                  "mysql_conf": {
                    "type": "string",
                    "description": "MySQL conf"
                  },
                  "health_check_enabled": {
                    "type": "boolean",
                    "description": "Enable the database healthcheck probe.",
                    "default": true
                  },
                  "health_check_interval": {
                    "type": "integer",
                    "description": "Healthcheck interval in seconds.",
                    "minimum": 1,
                    "default": 15
                  },
                  "health_check_timeout": {
                    "type": "integer",
                    "description": "Healthcheck timeout in seconds.",
                    "minimum": 1,
                    "default": 5
                  },
                  "health_check_retries": {
                    "type": "integer",
                    "description": "Healthcheck retries count.",
                    "minimum": 1,
                    "default": 5
                  },
                  "health_check_start_period": {
                    "type": "integer",
                    "description": "Healthcheck start period in seconds.",
                    "minimum": 0,
                    "default": 5
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Database updated"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "EnvironmentVariable": {
        "description": "Environment Variable model",
        "properties": {
          "id": {
            "type": "integer"
          },
          "uuid": {
            "type": "string"
          },
          "resourceable_type": {
            "type": "string"
          },
          "resourceable_id": {
            "type": "integer"
          },
          "is_literal": {
            "type": "boolean"
          },
          "is_multiline": {
            "type": "boolean"
          },
          "is_preview": {
            "type": "boolean"
          },
          "is_runtime": {
            "type": "boolean"
          },
          "is_buildtime": {
            "type": "boolean"
          },
          "is_shared": {
            "type": "boolean"
          },
          "is_shown_once": {
            "type": "boolean"
          },
          "key": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "real_value": {
            "type": "string"
          },
          "comment": {
            "type": "string",
            "nullable": true
          },
          "version": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "ApplicationDeploymentQueue": {
        "description": "Project model",
        "properties": {
          "id": {
            "type": "integer"
          },
          "application_id": {
            "type": "string"
          },
          "deployment_uuid": {
            "type": "string"
          },
          "pull_request_id": {
            "type": "integer"
          },
          "docker_registry_image_tag": {
            "type": "string",
            "nullable": true
          },
          "configuration_hash": {
            "type": "string",
            "nullable": true
          },
          "configuration_snapshot": {
            "type": "object",
            "nullable": true
          },
          "configuration_diff": {
            "type": "object",
            "nullable": true
          },
          "force_rebuild": {
            "type": "boolean"
          },
          "commit": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "is_webhook": {
            "type": "boolean"
          },
          "is_api": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "logs": {
            "type": "string"
          },
          "current_process_id": {
            "type": "string"
          },
          "restart_only": {
            "type": "boolean"
          },
          "git_type": {
            "type": "string"
          },
          "server_id": {
            "type": "integer"
          },
          "application_name": {
            "type": "string"
          },
          "server_name": {
            "type": "string"
          },
          "deployment_url": {
            "type": "string"
          },
          "destination_id": {
            "type": "string"
          },
          "only_this_server": {
            "type": "boolean"
          },
          "rollback": {
            "type": "boolean"
          },
          "commit_message": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Environment": {
        "description": "Environment model",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "project_id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Project": {
        "description": "Project model",
        "properties": {
          "id": {
            "type": "integer"
          },
          "uuid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Application": {
        "description": "Application model",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The application identifier in the database."
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "The application description."
          },
          "repository_project_id": {
            "type": "integer",
            "nullable": true,
            "description": "The repository project identifier."
          },
          "uuid": {
            "type": "string",
            "description": "The application UUID."
          },
          "name": {
            "type": "string",
            "description": "The application name."
          },
          "fqdn": {
            "type": "string",
            "nullable": true,
            "description": "The application domains."
          },
          "noindex_domains": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "The subset of the application domains served with an X-Robots-Tag: noindex, nofollow response header."
          },
          "config_hash": {
            "type": "string",
            "description": "Configuration hash."
          },
          "git_repository": {
            "type": "string",
            "description": "Git repository URL."
          },
          "git_branch": {
            "type": "string",
            "description": "Git branch."
          },
          "git_commit_sha": {
            "type": "string",
            "description": "Git commit SHA."
          },
          "git_full_url": {
            "type": "string",
            "nullable": true,
            "description": "Git full URL."
          },
          "docker_registry_image_name": {
            "type": "string",
            "nullable": true,
            "description": "Docker registry image name."
          },
          "docker_registry_image_tag": {
            "type": "string",
            "nullable": true,
            "description": "Docker registry image tag."
          },
          "build_pack": {
            "type": "string",
            "description": "Build pack.",
            "enum": [
              "nixpacks",
              "railpack",
              "static",
              "dockerfile",
              "dockercompose"
            ]
          },
          "static_image": {
            "type": "string",
            "description": "Static image used when static site is deployed."
          },
          "install_command": {
            "type": "string",
            "description": "Install command."
          },
          "build_command": {
            "type": "string",
            "description": "Build command."
          },
          "start_command": {
            "type": "string",
            "description": "Start command."
          },
          "ports_exposes": {
            "type": "string",
            "description": "Ports exposes."
          },
          "ports_mappings": {
            "type": "string",
            "nullable": true,
            "description": "Ports mappings."
          },
          "custom_network_aliases": {
            "type": "string",
            "nullable": true,
            "description": "Network aliases for Docker container."
          },
          "base_directory": {
            "type": "string",
            "description": "Base directory for all commands."
          },
          "publish_directory": {
            "type": "string",
            "description": "Publish directory."
          },
          "health_check_enabled": {
            "type": "boolean",
            "description": "Health check enabled."
          },
          "health_check_path": {
            "type": "string",
            "description": "Health check path."
          },
          "health_check_port": {
            "type": "string",
            "nullable": true,
            "description": "Health check port."
          },
          "health_check_host": {
            "type": "string",
            "nullable": true,
            "description": "Health check host."
          },
          "health_check_method": {
            "type": "string",
            "description": "Health check method."
          },
          "health_check_return_code": {
            "type": "integer",
            "description": "Health check return code."
          },
          "health_check_scheme": {
            "type": "string",
            "description": "Health check scheme."
          },
          "health_check_response_text": {
            "type": "string",
            "nullable": true,
            "description": "Health check response text."
          },
          "health_check_interval": {
            "type": "integer",
            "description": "Health check interval in seconds."
          },
          "health_check_timeout": {
            "type": "integer",
            "description": "Health check timeout in seconds."
          },
          "health_check_retries": {
            "type": "integer",
            "description": "Health check retries count."
          },
          "health_check_start_period": {
            "type": "integer",
            "description": "Health check start period in seconds."
          },
          "health_check_type": {
            "type": "string",
            "description": "Health check type: http or cmd.",
            "enum": [
              "http",
              "cmd"
            ]
          },
          "health_check_command": {
            "type": "string",
            "nullable": true,
            "description": "Health check command for CMD type."
          },
          "limits_memory": {
            "type": "string",
            "description": "Memory limit."
          },
          "limits_memory_swap": {
            "type": "string",
            "description": "Memory swap limit."
          },
          "limits_memory_swappiness": {
            "type": "integer",
            "description": "Memory swappiness."
          },
          "limits_memory_reservation": {
            "type": "string",
            "description": "Memory reservation."
          },
          "limits_cpus": {
            "type": "string",
            "description": "CPU limit."
          },
          "limits_cpuset": {
            "type": "string",
            "nullable": true,
            "description": "CPU set."
          },
          "limits_cpu_shares": {
            "type": "integer",
            "description": "CPU shares."
          },
          "status": {
            "type": "string",
            "description": "Application status."
          },
          "preview_url_template": {
            "type": "string",
            "description": "Preview URL template."
          },
          "max_restart_count": {
            "type": "integer",
            "description": "Maximum container restart count before stopping."
          },
          "destination_type": {
            "type": "string",
            "description": "Destination type."
          },
          "destination_id": {
            "type": "integer",
            "description": "Destination identifier."
          },
          "source_id": {
            "type": "integer",
            "nullable": true,
            "description": "Source identifier."
          },
          "private_key_id": {
            "type": "integer",
            "nullable": true,
            "description": "Private key identifier."
          },
          "environment_id": {
            "type": "integer",
            "description": "Environment identifier."
          },
          "dockerfile": {
            "type": "string",
            "nullable": true,
            "description": "Dockerfile content. Used for dockerfile build pack."
          },
          "dockerfile_location": {
            "type": "string",
            "description": "Dockerfile location."
          },
          "custom_labels": {
            "type": "string",
            "nullable": true,
            "description": "Custom labels."
          },
          "dockerfile_target_build": {
            "type": "string",
            "nullable": true,
            "description": "Dockerfile target build."
          },
          "manual_webhook_secret_github": {
            "type": "string",
            "nullable": true,
            "description": "Manual webhook secret for GitHub."
          },
          "manual_webhook_secret_gitlab": {
            "type": "string",
            "nullable": true,
            "description": "Manual webhook secret for GitLab."
          },
          "manual_webhook_secret_bitbucket": {
            "type": "string",
            "nullable": true,
            "description": "Manual webhook secret for Bitbucket."
          },
          "manual_webhook_secret_gitea": {
            "type": "string",
            "nullable": true,
            "description": "Manual webhook secret for Gitea."
          },
          "docker_compose_location": {
            "type": "string",
            "description": "Docker compose location."
          },
          "docker_compose": {
            "type": "string",
            "nullable": true,
            "description": "Docker compose content. Used for docker compose build pack."
          },
          "docker_compose_raw": {
            "type": "string",
            "nullable": true,
            "description": "Docker compose raw content."
          },
          "docker_compose_domains": {
            "type": "string",
            "nullable": true,
            "description": "Docker compose domains."
          },
          "docker_compose_custom_start_command": {
            "type": "string",
            "nullable": true,
            "description": "Docker compose custom start command."
          },
          "docker_compose_custom_build_command": {
            "type": "string",
            "nullable": true,
            "description": "Docker compose custom build command."
          },
          "swarm_replicas": {
            "type": "integer",
            "nullable": true,
            "description": "Swarm replicas. Only used for swarm deployments."
          },
          "swarm_placement_constraints": {
            "type": "string",
            "nullable": true,
            "description": "Swarm placement constraints. Only used for swarm deployments."
          },
          "custom_docker_run_options": {
            "type": "string",
            "nullable": true,
            "description": "Custom docker run options."
          },
          "post_deployment_command": {
            "type": "string",
            "nullable": true,
            "description": "Post deployment command."
          },
          "post_deployment_command_container": {
            "type": "string",
            "nullable": true,
            "description": "Post deployment command container."
          },
          "pre_deployment_command": {
            "type": "string",
            "nullable": true,
            "description": "Pre deployment command."
          },
          "pre_deployment_command_container": {
            "type": "string",
            "nullable": true,
            "description": "Pre deployment command container."
          },
          "watch_paths": {
            "type": "string",
            "nullable": true,
            "description": "Watch paths."
          },
          "custom_healthcheck_found": {
            "type": "boolean",
            "description": "Custom healthcheck found."
          },
          "redirect": {
            "type": "string",
            "nullable": true,
            "description": "How to set redirect with Traefik / Caddy. www<->non-www.",
            "enum": [
              "www",
              "non-www",
              "both"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time when the application was created."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time when the application was last updated."
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "The date and time when the application was deleted."
          },
          "compose_parsing_version": {
            "type": "string",
            "description": "How Coolify parse the compose file."
          },
          "custom_nginx_configuration": {
            "type": "string",
            "nullable": true,
            "description": "Custom Nginx configuration base64 encoded."
          },
          "is_http_basic_auth_enabled": {
            "type": "boolean",
            "description": "HTTP Basic Authentication enabled."
          },
          "http_basic_auth_username": {
            "type": "string",
            "nullable": true,
            "description": "Username for HTTP Basic Authentication"
          },
          "http_basic_auth_password": {
            "type": "string",
            "nullable": true,
            "description": "Password for HTTP Basic Authentication"
          },
          "settings": {
            "$ref": "#/components/schemas/ApplicationSetting"
          }
        },
        "type": "object"
      },
      "ApplicationSetting": {
        "description": "Application settings.",
        "properties": {
          "is_static": {
            "type": "boolean"
          },
          "is_git_submodules_enabled": {
            "type": "boolean"
          },
          "is_git_lfs_enabled": {
            "type": "boolean"
          },
          "is_auto_deploy_enabled": {
            "type": "boolean"
          },
          "is_force_https_enabled": {
            "type": "boolean"
          },
          "is_debug_enabled": {
            "type": "boolean"
          },
          "is_preview_deployments_enabled": {
            "type": "boolean"
          },
          "is_log_drain_enabled": {
            "type": "boolean"
          },
          "is_gpu_enabled": {
            "type": "boolean"
          },
          "gpu_driver": {
            "type": "string",
            "nullable": true
          },
          "gpu_count": {
            "type": "string",
            "nullable": true
          },
          "gpu_device_ids": {
            "type": "string",
            "nullable": true
          },
          "gpu_options": {
            "type": "string",
            "nullable": true
          },
          "is_include_timestamps": {
            "type": "boolean"
          },
          "is_swarm_only_worker_nodes": {
            "type": "boolean"
          },
          "is_raw_compose_deployment_enabled": {
            "type": "boolean"
          },
          "is_build_server_enabled": {
            "type": "boolean"
          },
          "is_consistent_container_name_enabled": {
            "type": "boolean"
          },
          "is_gzip_enabled": {
            "type": "boolean"
          },
          "is_stripprefix_enabled": {
            "type": "boolean"
          },
          "connect_to_docker_network": {
            "type": "boolean"
          },
          "custom_internal_name": {
            "type": "string",
            "nullable": true
          },
          "is_container_label_escape_enabled": {
            "type": "boolean"
          },
          "is_env_sorting_enabled": {
            "type": "boolean"
          },
          "is_container_label_readonly_enabled": {
            "type": "boolean"
          },
          "is_preserve_repository_enabled": {
            "type": "boolean"
          },
          "disable_build_cache": {
            "type": "boolean"
          },
          "is_spa": {
            "type": "boolean"
          },
          "is_git_shallow_clone_enabled": {
            "type": "boolean"
          },
          "is_pr_deployments_public_enabled": {
            "type": "boolean"
          },
          "use_build_secrets": {
            "type": "boolean"
          },
          "inject_build_args_to_dockerfile": {
            "type": "boolean"
          },
          "include_source_commit_in_build": {
            "type": "boolean"
          },
          "docker_images_to_keep": {
            "type": "integer"
          },
          "stop_grace_period": {
            "type": "integer",
            "nullable": true
          }
        },
        "type": "object"
      }
    },
    "responses": {
      "400": {
        "description": "Invalid token.",
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Invalid token."
                }
              },
              "type": "object"
            }
          }
        }
      },
      "404": {
        "description": "Resource not found.",
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Resource not found."
                }
              },
              "type": "object"
            }
          }
        }
      },
      "422": {
        "description": "Validation error.",
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Validation error."
                },
                "errors": {
                  "type": "object",
                  "example": {
                    "name": [
                      "The name field is required."
                    ],
                    "api_url": [
                      "The api url field is required.",
                      "The api url format is invalid."
                    ]
                  },
                  "additionalProperties": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "type": "object"
            }
          }
        }
      },
      "401": {
        "description": "Unauthenticated.",
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Unauthenticated."
                }
              },
              "type": "object"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Go to `Keys & Tokens` / `API tokens` and create a new token. Use the token as the bearer token.",
        "scheme": "bearer"
      }
    }
  }
}
